<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quem Sou</title>
</head>
<body>

    <p style="text-align: center;"><img  width="200" src="images/clarasiq.jpg" alt=""></p>
    <p style="text-align: center;">Clara Siqueira</p>
    <p style="text-align: center;">Aluna do 4° de INFORMÁTICA IFBA campus Paulo Afonso</p>

	<a href="/" class="btn btn-success"><i class="fa fa-arrow-circle-left ml5"></i>
								Voltar</a>

</body>
<!DOCTYPE html>
<html lang="en">

<head>
	
</body>
